# Clipboard app
CLIPBOARD_ADDR=:8080
CLIPBOARD_ALLOWED_ORIGIN=http://localhost:5173
CLIPBOARD_CREATE_PASSWORD=change-this-create-password
CLIPBOARD_MAX_BLOB_BYTES=52428800

# OpenList
OPENLIST_BASE_URL=http://127.0.0.1:5244
OPENLIST_USERNAME=clipboard
OPENLIST_PASSWORD=change-this-openlist-password
OPENLIST_OTP_CODE=
OPENLIST_ROOT=/clipboard
OPENLIST_CLIENT_ID=openlist-clipboard-gateway
